<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link asp-href-include="css/*" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <div class="logo">
        <img asp-append-version="true" src="~/img/logo.png" alt="logo" class="logo logo-img" />
        <div class="title">
            Globomatics
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer>
        <vc:statistics></vc:statistics>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
