@using Shared.Models
@model IEnumerable<ConferenceModel>

<div class="row">
    <div>
        @foreach (var conference in Model)
        {
            <partial name="_ConferenceDisplayPartial" model="conference" />
        }
    </div>
</div>
<div>
    <a asp-action="Add" class="btn btn-default">Add new conference</a>
</div>
@section Statistics{
    <vc:statistics></vc:statistics>
}

