body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(105, 16, 184);
    background-image: url(../img/back.jpg);
}

div {
    margin: 5px;
}
.login-div{
}

.title {
    color: #8e31ba;
    font-weight: 700;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align:center;
}

    .logo.logo-img {
        background-color: rgba(105, 16, 184, 0.65)
    }

.form-group {
    margin: 5px;
}

    .form-group.button {
        padding-top: 25px;
    }

.card {
    width: 90vw;
}

    .card.card-statistics {
        width: 45vw;
        background-image: none;
        background-color: rgba(0, 139, 255, 0.50);
        color: rgb(98, 24, 218);
    }
    .card.card-login {
        width: 45vw;
        background-image: none;
        text-align:center;
        background-color: rgba(0, 139, 255, 0.50);
        color: rgb(98, 24, 218);
    }
.btn.btn-default {
    margin: 5px;
    height: 40px;
    background-image: none;
    background-color: rgb(105, 16, 184);
    color: rgb(252, 193, 255)
}

#purpule {
    background-image: none;
    background-color: rgba(105, 16, 184, 0.3)
}
