@using Shared.Models;
@model ProposalModel

@*<environment include="Development">
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</environment>*@

<div class="card" id="purpule">
    <div class="card-header">
        <span class="card-title">Proposal : @Model.Title</span>
    </div>
    <div class="card-body">
        <span>Speaker: @Model.Speaker</span>
        @if (Model.Approved)
        {
            <br />
            <span>Approved:</span>
            <div class="btn btn-default">Yes</div>
        }
        else
        {
            <a asp-action="Approve" asp-route-proposalId="@Model.Id">Approve</a>
        }
    </div>

</div>
