@using Shared.Models
@model IEnumerable<ProposalModel>

<div class="row">
    <div>
        @foreach (var proposal in Model)
        {
            <partial name="_ProposalDisplayPartial" model="proposal" />
        }
    </div>
    <div>
        <a asp-action="Add" asp-controller="Proposal" asp-route-conferenceId="@ViewBag.ConferenceId" class="btn btn-default">
            Add new proposal
        </a>
        <a asp-action="Index" asp-controller="Conference" class="btn btn-default">Back</a>
    </div>
</div>